body{
    width: 40%;
    min-width: 600px;
    margin: auto;
}

.link-list{
    padding-left: 20px;
}

.link-list a{
    display: block;
    clear:both;
}

.caption *{
    display: inline;
}

.caption h1{
 margin-right: 300px;
}
input[name="close"]{
    display:none;
}