<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/feedback.css">
    <script>

    </script>
</head>
<body>

<div class="all">
<div class="filters">
    <label for="tech_selector">Technology</label>
        <select id="tech_selector" name="tech_selector" onchange="submit_page()">
            <option value=""></option>
            {% for tech_id, tech_name  in techs %}
            <option value="{{ tech_id }}"
                {{"selected" if "ts" in req_params and tech_id in req_params["ts"] else ""}}
            >{{ tech_name }}</option>
            {% end %}
        </select>

    <label for="date_from"> Date from</label>
    <input id="date_from" type="text" value="{{ req_params["df"] if "df" in req_params else "" }}">
    <label for="date_to"> to</label>
    <input id="date_to" type="text" value="{{ req_params["dt"] if "dt" in req_params else "" }}">
</div>
<div class="messages">
    {% for _id, message, author, time, tech_ids in messages %}
    <div class="message-box">
        <span> {{author}}</span>
        <p>{{ message}} </p>
        <a href="/tech#{{ ','.join(str(x) for x in tech_ids) }}">Relevant page</a>
    </div>
    {% end %}
</div>

<div class="pagination"><p>Pages:</p>
    {% for p_num in range(1,pages+1) %}
    <a {{'href = {}pg={}'.format(my_url, p_num) if p_num != page else ''}}>
    {{p_num}}
    </a>
    {% end %}
</div>

</div>
<form id="refresh-form" visibility="False" style="display: none">
</form>
</body>
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css">
<script type="application/javascript" src="/js/jquery.js"></script>
<script type="application/javascript" src="/js/jquery.datetimepicker.js"></script>
<script type="application/javascript" src="/js/fb_page.js"></script>
<script>
    jQuery('#date_from').datetimepicker({onSelectDate: submit_page, format:'Y m d',
        timepicker:false
            {% if 'df' in req_params %}
                ,value:'{{ req_params['df'].strftime("%Y %m %d") }}'
            {% end %}
    });
    jQuery('#date_to').datetimepicker({onSelectDate: submit_page,format: 'Y m d',
        timepicker:false
            {% if 'dt' in req_params %}
                ,value:'{{ req_params['dt'].strftime("%Y %m %d") }}'
            {% end %}
    });
</script>
</html>
