<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Trends</title>
    <script>
        submit = function(){
            document.getElementById("tech_form").submit();
        };
    </script>
</head>
<body>
<div>
    <span> Select technology</span>

    <form id="tech_form" method="get">
        <!--suppress XmlInvalidId -->
        <label for="tech_selector">Technology</label>
        <select id="tech_selector" onchange="submit()" name="tech_selector">
            {% for tech_id, tech_name in [(tid, info['name']) for tid, info in techs if 'visible' not in info or
            info['visible'] == 1] %}
            <option value="{{ (tech_id) }}">{{ (tech_name) }}</option>
            {% end %}
        </select></form>
</div>

</body>
</html>