<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- import third-party libraries --->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- custom js and styles--->
    <script src="/js/tech_add.js"></script>
</head>
<body>
    <form class="form-horizontal" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Edit Technology</legend>
    <input id="tech_id" name="tech_id" type="hidden" value="{{tech_id}}"/>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="tech_name">Tech Name</label>
      <div class="col-md-6">
      <input id="tech_name" name="tech_name" placeholder="" class="form-control input-md" type="text" value="{{ tech_name }}">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="wiki_link">Wikipedia page</label>
      <div class="col-md-6">
      <input id="wiki_link" name="wiki_link" placeholder="" class="form-control input-md" type="text">
      <span class="help-block"><a href="https://wikipedia.org/">Wikipedia</a></span>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group" id="wiki_all_block">
      <label class="col-md-4 control-label" for="wiki_all">Wikipedia redirections</label>
      <div class="col-md-4">
        <textarea class="form-control" id="wiki_all" name="wiki_all">{{ ", ".join(wiki_all if wiki_all else ['']) }}</textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="sot_tag">StackOverflow Tag</label>
      <div class="col-md-6">
      <input id="sot_tag" name="sot_tag" placeholder="" class="form-control input-md" type="text" value="{{ ", ".join(sot_tag if sot_tag else ['']) }}">
      <span class="help-block"><a href="http://stackoverflow.com/tags/">StackOverflow</a></span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="google_name">Google name</label>
      <div class="col-md-6">
      <input id="google_name" name="google_name" placeholder="" class="form-control input-md" type="text" value="{{ google_name  if google_name else '' }}">
      <span class="help-block"><a href="http://www.google.com">Google</a></span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="itj_name">ITJ name</label>
      <div class="col-md-6">
      <input id="itj_name" name="itj_name" placeholder="" class="form-control input-md" type="text" value="{{ ", ".join(itj_name  if itj_name else ['']) }}">
      <span class="help-block"><a href="http://www.itjobswatch.co.uk/">ITJobsWatch</a></span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="itj_name">Github repo</label>
      <div class="col-md-6">
      <input id="github_repo" name="github_repo" placeholder="" class="form-control input-md" type="text" value="{{  ", ".join(github_repo if github_repo else ['']) }}">
      <span class="help-block"><a href="https://github.com/search">GitHub</a></span>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-success">Edit technology</button>
      </div>
    </div>

    </fieldset>
    </form>


</body>
</html>