<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/techs.css">
    <!--- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script --->
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
<div class="alpha">
    This is alpha version. <br/> If something went wrong, please, notify me.
</div>
<div id="feedback" class = "fb-form">
    <p class = "fb-desc">
      Any comments?
    </p>
    <label for="fb-author">Author</label>
    <input type="text" id="fb-author" class="fb-input">
    <label for="fb-message">Message</label>
    <textarea id="fb-message" class="fb-input"></textarea>

    <input type="button" id="fb-submit" value="Send" onclick="sendFeedback()">
</div>

<div id="plots">
    <div id="selectors">
        {% for sel_id in range(5) %}
        <select id="ts_{{ sel_id }}" onchange="change_selection({{sel_id}})" name="tech_selector">
            {% for tech_id, tech_name in [(tid, name) for tid, name, info in techs
                    if 'visible' not in info or info['visible'] == 1] %}
            <option value="{{tech_id}}">{{tech_name}}</option>
            {% end %}
        </select>
        {% end %}
        <input type="image" src="images/close.gif"
               name="close" width="16" height="16" onclick="remove_selector()">
    </div>
    <div id="main" class="plot-place" ></div>
    <div id="techs" class="plot-place" class="left-column"></div>
    <div id="sources" class="plot-place" class="right-column"></div>
</div>


<script type="text/javascript" src="js/techs_core.js"></script>
<script>
    // initialize everything
    page_load();
</script>
</body>
</html>